@model advanced_programming_2_backend.Models.Rating

@{
    ViewData["Title"] = "Create";
}


<script>
    function rate(value) {
        var stars = [];
        stars[0] = document.getElementById("star2");
        stars[1] = document.getElementById("star3");
        stars[2] = document.getElementById("star4");
        stars[3] = document.getElementById("star5");
        document.getElementById("ratingValue").setAttribute("value", value.toString());
        for (let i = 0; i < value - 1; i++) {
            stars[i].setAttribute("src", stars[i].getAttribute("filled"));
        }
        for (let i = value - 1; i < 4; i++) {
            stars[i].setAttribute("src", stars[i].getAttribute("empty"));
        }
    }
    function updateDescription(desc) {
        document.getElementById("desc").setAttribute("value", desc.value);
    }
</script>

<h1>Rate us</h1>
<div style="text-align:center; padding: 0.5rem 0; width:100%; color:rgb(55, 55, 55)">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <img src="~/Images/starGold.png" align="middle" id="star1" onclick="rate(1)" />
            <img src="~/Images/starGold.png" empty="/Images/starHollow.png" filled="/Images/starGold.png" align="middle" id="star2" onclick="rate(2)" />
            <img src="~/Images/starGold.png" empty="/Images/starHollow.png" filled="/Images/starGold.png" align="middle" id="star3" onclick="rate(3)" />
            <img src="~/Images/starHollow.png" empty="/Images/starHollow.png" filled="/Images/starGold.png" align="middle" id="star4" onclick="rate(4)" />
            <img src="~/Images/starHollow.png" empty="/Images/starHollow.png" filled="/Images/starGold.png" align="middle" id="star5" onclick="rate(5)" />
            <input type="hidden" asp-for="Score" class="form-control" id="ratingValue" value="3" style="padding:1rem" />
            <span asp-validation-for="Score" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label" style="color:aquamarine; font-size:130%"></label>
            <input asp-for="Name" class="form-control" style="padding:0.5rem" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label" style="color:aquamarine; font-size:130%"></label>
            <input type="hidden" id="desc" asp-for="Description" class="form-control" style="width:30rem; height:5rem; padding:0.5rem" />
            <textarea asp-for="Description" class="form-control" style="width:30rem; height:15rem; padding:0.5rem" maxlength="500" onchange="updateDescription(this)"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <p>
        <a asp-action="Index" style="padding: 0.5rem">Back to List</a>
    </p>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
