@model advanced_programming_2_backend.Models.Rating

@{
    ViewData["Title"] = "Details";
}

<h1>Details: Rating #@Model.Id</h1>
<div style="text-align:center; padding: 0.5rem 0; width:100%; color:rgb(55, 55, 55)">
    <div>
        @for (int i = 0; i < Model.Score; i++)
        {
            <img src="~/Images/starGold.png" align="middle" />
        }
        @for (int i = Model.Score; i < 5; i++)
        {
            <img src="~/Images/starHollow.png" align="middle" />
        }
    </div>
    <h3  style="text-align:left">Name:</h3>
    <h3 style="text-align:center">@Model.Name</h3>
    <h3 style="text-align:left">Description:</h3>
    <h3 style="text-align:center">@Model.Description</h3>
    <text style="color:antiquewhite; padding:0 0 0 0.3rem">Last edit on @Model.Date</text> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit Rating</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete Rating</a>
    <a asp-action="Index" style="padding: 0.5rem">Back to List</a>
</div>
