html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.star-filled {
    background-image: url('/Images/starfilled.png');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.star-empty {
    background-image: url('/Images/starempty.png');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}